MNIST_data/
.venv/
venv/
.vscode/
cmake-build-*/
.idea/
build/
build_dir/
build_win/
config.ini
__pycache__/
libtorch/
lib*.so*
lib*.a
!libopencv*
dependencies
*.pth
*.pt
*.odp#
install/
install_*/
*.srctrl*
