MNIST_data/
.venv/
.vscode/
.idea/
build/
build_dir/
build_win/
config.ini
__pycache__/
libtorch/
lib*.so*
lib*.a
!libopencv*
dependencies
*.pth
*.pt
*.odp#
install/
install_dir/
install_win/
*.srctrl*
