numpy==1.24.1
torch==1.13.1 --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.14.1 --extra-index-url https://download.pytorch.org/whl/cpu
torchaudio==0.13.1 --extra-index-url https://download.pytorch.org/whl/cpu
pillow==9.4.0